main{
    padding: 30px;
}
.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 30px;
}
.form--input{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    height: 50px;
}

.form--button{
    grid-column: 1 /-1;
    background-color: rgba(166, 38, 211, 1);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    height: 50px;
}

.form--image{
    height: 100%;
    margin-top: 30px
}